extends domain

block domain-content
  form.form-search
    input(type="text", name="query", value=query).search-query.span9
    .pull-right
      input(type="submit", value="Search").btn.btn-primary
    .clearfix

  if query !== null
    p
      | Request URL: 
      a(href=requestURL, target="_blank")= requestURL

    if !results.hits || results.hits.hit.length === 0
      .alert.alert-error
        strong Not found 
        | for query '
        strong= query
        | '
    else
      .alert.alert-info
        strong Found #{results.hits.found} records. 
        | Showing #{results.hits.start + 1} - #{results.hits.start + results.hits.hit.length} (#{results.hits.hit.length} records).

      ul.pager
        if previousLink
          li.previous
            a(href=previousLink, rel="prev") &laquo; Previous
        else
          li.previous.disabled
            a &laquo; Previous
        if nextLink
          li.next
            a(href=nextLink, rel="next") Next &raquo;
        else
          li.next.disabled
            a Next &raquo;

      table.table.table-bordered
        each hit, index in results.hits.hit
          tr.id-row
            td= index + start + 1
            td.id-cell(colspan=2)= hit.id
          each value, columnName in hit.data
            tr
              td
              td= columnName
              td= value
