extends domain

block head
  script(src='/js/domain-index-fields.js')

block domain-content
  h2 Index Fields
  if indexFields.length > 0
    table.table.table-bordered
      tr
        th Name
        th Type
        th Facet
        th Result
        th Operation
      for indexField in indexFields
        tr
          th= indexField.Options.IndexFieldName
          td= indexField.Options.IndexFieldType
          case indexField.Options.IndexFieldType
            when 'text'
              td= indexField.Options.TextOptions.FacetEnabled
              td= indexField.Options.TextOptions.ResultEnabled
            when 'literal'
              td= indexField.Options.LiteralOptions.FacetEnabled
              td= indexField.Options.LiteralOptions.ResultEnabled
            default
              td
              td
          td
            a.btn.btn-danger.pull-right(role="button", data-toggle="modal", data-target="#deleteDialog-"+indexField.Options.IndexFieldName)
              i.icon-trash.icon-white
              |  Delete

    for indexField in indexFields
      .modal.hide(id="deleteDialog-"+indexField.Options.IndexFieldName, role="dialog", tabindex="-1", aria-labelledby="deleteDialogLabel", aria-hidden="true")
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
          h3#deleteDialogLabel Delete '#{indexField.Options.IndexFieldName}' Index Field
        .modal-body
          p Are you sure?
        .modal-footer
          form(action="/domain/"+domain.DomainName+"/index_fields/"+indexField.Options.IndexFieldName, method="POST").modal-form
            input(type="hidden", name="_method", value="DELETE")
            button.btn(data-dismiss="modal", aria-hidden="true") Cancel
            button.btn(type="submit").btn.btn-danger
              i.icon-trash.icon-white
              |  Delete
  else
    .alert.alert-warn No IndexField is defined

  .well
    form(action="/domain/"+domain.DomainName+"/index_fields", method="POST").form-horizontal
      legend Create an index field
      .control-group
        label.control-label Name
        .controls
          input(type="text", name="name")
      .control-group
        label.control-label Type
        .controls
          select(type="text", name="type", data-bind='value: chosenType')
            option(value="text") text
            option(value="literal") literal
            option(value="uint") uint
      .control-group
        label.control-label Search
        .controls
          input(type="checkbox", name="search", data-bind='enable: searchChoosable, checked: searchChecked')
      .control-group
        label.control-label Facet
        .controls
          input(type="checkbox", name="facet", data-bind='enable: facetChoosable, checked: facetChecked')
      .control-group
        label.control-label Result
        .controls
          input(type="checkbox", name="result", data-bind='enable: resultChoosable, checked: resultChecked')
      .control-group
        .controls
          button.btn(type="submit").btn-primary Create
